<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Model2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
<!--
가상주소가 들어오면 주소 매핑을 하기 위해서(실제 주소와 연결하기 위해서) 서블릿을 지정한다.
가상주소 => 서블릿 지정(가상주소를 실제주소로 연결해줌)
 -->

<!-- 실제파일(연결시켜야하는 것) -->
<servlet>
	<servlet-name>MemberController</servlet-name>
	<servlet-class>com.itwillbs.controller.MemberController</servlet-class>
</servlet> 
 
 
<!-- .me로 끝나는 주소값으로 만들겠다! -->
<servlet-mapping>
	<servlet-name>MemberController</servlet-name>
	<url-pattern>*.me</url-pattern>
</servlet-mapping>


</web-app>